@page
@model WebSite.Views.Home.SobreModel
@{
    <div class="text-left">
        <h1 class="display-5">
            <font face="Arial">Um Pouco Sobre Mim</font>
              </h1>  Sou Um Desenvolvedor Freelancer Minha Especialidade é criar Site Para Empresas e comércios Etc...
        Gosto do que faço e me sinto muito feliz ao ver meus clientes Satisfeitos com o Meu Trabalho.
    </div>





}
